<h2 style="margin-bottom: 30px;"> Money Tracker Updates, <span style="color:#999; font-size:80%;"> <%= Date.today.to_date.to_s(:long) %></span>
</h2>

<% label_styles = "style = 'float: left; width: 120px; color: #888;'" %>
<% div_styles = "style = 'margin-bottom: 10px;'" %>

<% @grouped_common_items.each_pair do |group, items| %>
  <% content = "" %>
  <% if (balance = group.get_group_user(@user).balance) != 0 %>
    <% content =  balance > 0 ? "<span style='color:red'>Pay Rs. #{balance}</span>" : "<span style='color:green'>Get Rs. #{-balance}</span>" %>
  <% end %>

  <h3 style="border-top:1px solid #444; border-bottom:1px solid #444; padding: 5px; background-color:#f1f1f1; margin-bottom:20px;">
    <%= group.name %> Transactions <%= content.html_safe %>
  </h3>

  <% items.each do |item| %>
    <% label = item.payment? ? "Payment" : "Transaction" %>
    <div>
      <div <%= div_styles %>>
        <span <%= label_styles %>><%= label %>: </span>
        <span><%= item.name %></span>
        <span style="color:#999"> by </span>
        <span><%= item.user.name %></span>
        <span style="color:#999;font-size: 0.9em;"> on </span>
        <span style="color:#999"><%= item.transaction_date.strftime('%B, %d %Y') %></span>
        <br/>
      </div>
      <div <%= div_styles %>>
        <span <%= label_styles %>>Total amount: </span>
        <span>Rs. <%= item.cost %></span>
        <span style="color:#999;font-size: 0.9em;"> of which <%= item.payment? ? "you received" : "your share is" %> </span>
        <span>Rs. <%= @items[item][0].default_amount %></span><br/>
      </div>
    </div>
    <hr/><br/>
  <% end %>
  <br/>

  <div style="<%= UserMailer::LINK_BUTTON %>">
    <%= link_to "View all transactions", group_common_items_url(group), :style => UserMailer::LINK_TEXT %>
  </div>
  <br/><br/>
<% end %>

<div style="">
  <span style="color:#777">Thank you,</span><br/>
  <span style="color:#777">Money Tracker Team</span>
</div>