<% if group_user.group.group_users.count > 1 %>
  <% if full_view %>
    <% pay_structure = PaySuggestions::PaySystem.create(group_user.group) %>
    <% receiver_group_users = GroupUser.find(pay_structure.receivers.keys) %>
    <table id="full_pay_details" class="zebra-striped">
      <thead>
        <tr>
          <th class="label_names">
            <span class="payer">Payers</span>/<span>Receivers</span>
          </th>
          <% receiver_group_users.each do |group_user| %>
            <th> <span class="title"> <%= group_user.name %> </span> <small>(Rs.<%= group_user.balance %>)</small></th>
          <% end %>
        </tr>
      </thead>
      <% pay_structure.payers.keys.each do |group_user| %>
        <% payer = pay_structure.payers[group_user] %>
        <tr>
          <td> <span class="payer"><%= payer.group_user.name %> </span> <small>(Rs.<%= payer.group_user.balance %>)</small></td>
          <% receiver_group_users.each do |group_user| %>
            <td> <%= payer.transaction_partners[group_user] || "-" %> </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <% if group_user.balance != 0 %>
      <div id="pay_structure" class="alert-message block-message <%= group_user.balance > 0 ? 'error' : 'success' %>">
        <a class="close" href="#">×</a>
        <p>
          <h4> Suggested transaction: </h4>
          <div class="transactions">
            <%= raw transaction_statement(group_user) %>
          </div>
        </p>
        <div class="alert-actions">
          <% if group_user.balance > 0 %>
            <%= link_to "Track a payment", new_group_common_item_path(group_user.group, :type => CommonItem::Type::PAYMENT), :remote => true, :class => "btn small", :disable_with => "please wait.." %>
          <% else %>
            <%= link_to "Track a recieved payment", "#", :remote => true, :class => "btn small" %>
          <% end %>
          
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>