<% @title = "Create a new group" %>

<div id="new_group">
  <% form_for @group do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>

    <%= f.actions do %>
      <%= f.submit "Submit" %> or <%= link_to "Cancel", groups_path %>
    <% end %>
  <% end %>
</div>