<% @title = "Create a new group" %>

<div id="new_group">
  <% form_for @group do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>

    <%= f.actions do %>
      <%= f.submit "Submit" %> or <%= link_to "Cancel", groups_path %>
    <% end %>
  <% end %>
</div>