<% @title = "Create a new group" %>

<div id="new_group">
  <%= form_for @group, :validate => true do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description, :class => "xxlarge", :rows => 3 %>

    <%= f.actions do %>
      <%= f.submit "Submit" %>
      <%= f.cancel_path "Cancel", groups_path %>
    <% end %>
  <% end %>
</div>