<% @title = "Register as new user" %>
<% @page_action = {:name => "Sign in", :url => login_path} %>

<%= form_for @user, :validate => true do |f| %>
  <fieldset>
    <%= f.text_field :name %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <% if @group %>
      <div class="clearfix">
        <%= label_tag "Group" %>
        <div class="input">
          <b class="uneditable-input"> <%= @group.name %> </b>
        </div>
        <%= hidden_field_tag :group_code, @group.code %>
      </div>

    <% end %>
    <div class="clearfix">
      <label>Word Verification</label>
      <div class="input captcha">
        <%= recaptcha_tags :display => {:theme => "clean", :tabindex => 0} %>
      </div>
    </div>
    <%= f.actions do %>
      <%= f.submit "Submit" %>
    <% end %>
  </fieldset>
<% end %>