<% @title = @group.name %>
<% @page_action = {:name => "Track a transaction", :url => new_group_common_item_path(@group), :remote => true} %>

<div id="group_show">
  <%= render :partial => "groups/group_details" %>
  <div style="overflow-x: scroll;" class="well">
    <%= will_paginate @common_items, :renderer => PaginationListLinkRenderer %>
    <table id="common_items_table" class="zebra-striped">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Cost (paid by)</th>
          <% @active_group_users.each do |g_user| %>
            <th><%= g_user.name %></th>
          <% end %>
          <% if @suspended_group_users.any? %>
            <th class="suspended"> Suspended Users </th>
          <% end %>
          <th class='date'>Transaction Date</th>
        </tr>
      </thead>
      <% @common_items.each do |common_item| %>
        <tr class="<%= 'payment' if common_item.payment? %>">
          <td>
            <% if common_item.payment? %>
              <span style="color: #337733">Payment made-</span>
            <% end %>
            <%= common_item.name %>&nbsp;&nbsp;<%= show_delete_link(common_item)%>
          </td>
          <td style="color:red;">Rs.<%= common_item.cost %> (<%= common_item.user.display_name %>)</td>
          <% @active_group_users.each do |g_user| %>
            <td><%= display_amount(g_user.user, common_item) %></td>
          <% end %>
          <% if @suspended_group_users.any? %>
            <td class="suspended"> <%= display_amount_for_suspended_users(@suspended_group_users, common_item) %> </td>
          <% end %>
          <td><small><%= common_item.transaction_date.strftime('%b, %d %Y') %></small></td>
        </tr>
      <% end %>
      <% if @is_full_view %>
        <tr class="full_stats">
          <td>Total expenditure</td>
          <td>Rs.<%= @total_cost %></td>
          <% @group.users.each do |user| %>
            <td>Rs.<%= @group.get_group_user(user).items.collect(&:default_amount).sum %></td>
          <% end %>
          <td><small><%= Time.now.strftime('%b, %d %Y') %></small></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @common_items, :renderer => PaginationListLinkRenderer %>
  </div>
  <%= render :partial => "groups/admin_actions" %>
</div>