<% @title = @group.name %>
<div id="new_common_items">
  <%= form_for [:group, @common_item], :validate => true do |f| %>
    <fieldset>
      <%= f.text_field :name %>
      <%= f.text_field(:transaction_date, :id => "datepicker") %>
      <%= f.select :transaction_type, TRANSACTION_TYPE_OPTIONS_ARRAY,
        {:onchange => "CommonItem.typeChange('#{new_group_common_item_path(@group)}')", :id => "common_item_transaction_type"} %>
      <span id="loading_image" style="display: none"><%= image_tag("ajax-loader.gif") %></span>
      <%= f.text_field :cost, :class => "small" %>
      <div class="clearfix">
        <label>Users</label>
        <div class="input" id="transaction_type">
          <%= render :partial => "common_items/transaction_types_#{@common_item.transaction_type}" %>
        </div>
      </div>

      <%= f.actions do %>
        <%= f.submit "Create", :onclick => "return CommonItem.beforeSubmit()" %>
        <%= f.cancel_path "Cancel", group_path(@group) %>
      <% end %>
    </fieldset>
  <% end %>
</div>