<% @title = "My Items" %>
<%= will_paginate @items, :renderer => PaginationListLinkRenderer %>
<table id="items_list" class="zebra-striped">
  <thead>
    <tr>
      <td><b>Item Name</b></td>
      <td><b>My Share in rupees</b></td>
      <td><b>Item Cost in rupees</b></td>
      <td><b>Group</b></td>
      <td><b>Date</b></td>
    </tr>
  </thead>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.default_amount%></td>
      <td><%= item.common_item.cost %></td>
      <td><%= item.common_item.group.name %></td>
      <td><%= item.created_at.strftime('%B, %d %Y')%></td>
    </tr>
  <% end %>
  <tr>
    <td><b>Total amount</b></td>
    <td style="color:red;">Rs. <%= display_my_total %></td>
    <td></td><td></td>
    <td><%= Time.now.strftime('%B, %d %Y')%></td>
  </tr>
</table>
<%= will_paginate @items, :renderer => PaginationListLinkRenderer %>

<h3>Net Credit: Rs. <%= current_user.net_balance%>/-</h3>